/* TodoList.module.css */
.todo-list {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 30px;
  height: 94vh; /* Set the maximum height for the container */
  overflow: auto; 
}

.add-todo-container {
  display: flex;
}

.todo-list-title {
  color: black;
  font-family: 'Borel';
  font-size: 18px;
  text-align: left;
}

.add-todo-input {
  flex: 1;
  padding: 10px;
  border: none;
}

.add-todo-button {
  background-color: #45c856; /* Friendly green */
  border: none;
  color: white;
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-todo-button:hover {
  background-color: #339143; /* Slightly darker green on hover */
}
