/* TodoDetailsCard.module.css */
.details-card {
  width: 100%;
  background: linear-gradient(180deg, #5900ff, #ff09e23b);
  padding: 10px;
  transition: max-height 0.3s ease-in-out;
  flex-direction: column;
  color: white;
  border-radius: 5px;
  animation: slidingFadeIn 0.25s ease-out forwards;
  font-family: "Borel";
}

@keyframes slidingFadeIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


  /* TodoItem.module.css */
.todo-item {
    /* ... */
    position: relative;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .edit-button,
  .save-button,
  .cancel-button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }

  .edit-button {
    background-color: #3498db;
    color: white;
  }

  .save-button {
    background-color: #27ae60;
    color: white;
    margin-right: 10px;
  }

  .cancel-button {
    background-color: #e74c3c;
    color: white;
  }

  .notes-input {
    width: 100%; /* Stretch to fill the width */
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3498db; /* Border color */
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing */
    background-color: #fffa86; /* Light background color */
    transition: border-color 0.3s ease-in-out; /* Add transition for border color */
    font-family: 'Caveat';
  }
  
  .notes-input:focus {
    outline: none;
    border-color: #27ae60; /* Change border color on focus */
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1; /* Visible */
    }
    50% {
      opacity: 0; /* Invisible */
    }
  }
  
  