.details-card {
  width: 95%;
  padding: 0 10px 10px 10px;
  margin: 0 10px 10px 10px;
  flex-direction: column;
  color: black;
  border-radius: 10px;
  animation: slidingFadeIn 0.1s ease-out forwards;
  font-family: "Caveat";
}

@keyframes slidingFadeIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.todo-item {
    position: relative;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
  }

  .notes-input {
    width: 100%; /* Stretch to fill the width */
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid transparent; /* Border color */
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing */
    background-color: #f5f5f5; /* Light background color */
    transition: border-color 0.3s ease-in-out; /* Add transition for border color */
    font-family: 'Caveat';
  }
  
  .notes-input:focus {
    outline: none;
    border-color: #27ae60; /* Change border color on focus */
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1; /* Visible */
    }
    50% {
      opacity: 0; /* Invisible */
    }
  }
