.todo-item {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.todo-item-not-details {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 5px;
}

.completed {
  text-decoration: line-through;
}

.todo-text {
  padding-left: 10px;
  flex: 1;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  color: #3b3b3b;
  word-break: break-word; 
  box-shadow: none;
}

.todo-priority-container {
  display: flex;
  align-items: center;
}

.todo-priority-marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.priority-dropdown {
  padding: 5px;
  justify-content: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
  text-decoration: none; 
}

.priority-dropdown:hover {
  background-color: #ffffff;
}

.delete-button {
  background-color: #ff7675;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.delete-button:hover{
  background-color: #ff2424;
  transform: scale(1.1)
}

.flashing {
  animation: flash 0.3s ease-in-out, fade-out 0.3s ease-in-out;
  z-index: 1;
}

@keyframes flash {
  0%, 100% {
    background-color: white;
  }
  50% {
    background-color: rgb(255, 145, 145);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.details-button {
  background-color: #0064ce; /* Dark blue color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
}

.details-button:hover {
  background-color: #007bff; /* Darker blue color on hover */
  transform: scale(1.05); /* Slight scale-up on hover */
}

/* Styling for the eye icons */
.eye-icon {
  margin: auto;
  color: #ecf0f1a3; /* White color for the eye icon */
  transition: color 0.3s ease;
}

.eye-icon-closed {
  margin: auto;
  color: #ffffff; /* White color for the eye icon */
  transition: color 0.3s ease;
}

.details-button:hover .eye-icon {
  color: white; /* Light gray color on hover */
  transform: scale(1.1); /* Slightly larger size on hover */
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
