/* TodoItem.module.css */
.todo-item {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.completed {
  text-decoration: line-through;
}

.todo-check {
  margin-right: 10px;
}

.todo-text {
  flex: 1;
  flex-direction: column;
  font-size: 18px;
  color: #333;
  word-break: break-word; 
  box-shadow: none;
}

.todo-priority-container {
  display: flex;
  align-items: center;
}

.todo-priority-marker {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.priority-dropdown {
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  text-decoration: none; 
}

.priority-dropdown:hover {
  background-color: #ffffff;
}

.delete-button {
  background-color: #ff7675;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.delete-button:hover{
  background-color: #ff2424;
  transform: scale(1.1)
}

/* TodoItem.module.css */
.todo-item.flashing {
  animation: flash 0.5s ease-in-out, fade-out 0.5s ease-in-out;
}

@keyframes flash {
  0%, 100% {
    background-color: initial; /* Original background color */
  }
  50% {
    background-color: #ff7675; /* Flash color (red) */
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.details-button {
  background-color: #183ea5; /* Dark blue color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
}

.details-button:hover {
  background-color: #007bff; /* Darker blue color on hover */
  transform: scale(1.05); /* Slight scale-up on hover */
}

/* Styling for the eye icons */
.eye-icon {
  margin: auto;
  color: #ecf0f1a3; /* White color for the eye icon */
  transition: color 0.3s ease;
}

.eye-icon-closed {
  margin: auto;
  color: #ffffff; /* White color for the eye icon */
  transition: color 0.3s ease;
}

.details-button:hover .eye-icon {
  color: white; /* Light gray color on hover */
  transform: scale(1.1); /* Slightly larger size on hover */
}
