.filterButton {
  position: relative;
  display: inline-block;
}

.toggleButton {
  padding: 8px 16px;
  margin-bottom: 16px;
  border: none;
  background-color: #fde6cc;
  color: #ff7f50;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.toggleButton i {
  margin-left: 5px;
}

.dropdown {
  position: absolute;
  color: white;
  top: 100%;
  left: 0;
  background-color: #ff8800;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100vh;
  z-index: 999;
}

.dropdown label {
  display: block;
  margin-bottom: 5px;
}
