@import '~@fortawesome/fontawesome-free/css/all.min.css';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Borel'; /* Specify your desired font name */
  src: url('../fonts/Borel-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Caveat'; /* Specify your desired font name */
  src: url('../fonts/Caveat.ttf') format('truetype');
}

@font-face {
  font-family: 'CherryBombOne'; /* Specify your desired font name */
  src: url('../fonts/CherryBombOne.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular'; /* Specify your desired font name */
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold'; /* Specify your desired font name */
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Handjet'; /* Specify your desired font name */
  src: url('../fonts/Handjet.ttf') format('truetype');
}

.background-gradient {
  display: flex;
  height: 100%;
  background: linear-gradient(135deg, #6c5ce7, #3498db, #e0d8ff);
}

.remindu-title {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 18px; /* Adjust the font size as needed */
  font-family: 'Borel';
  text-align: left;
  margin: 0px;
  padding-top: 20px;
  padding-left: 20px;
}
